<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autisma">

    <compatible-screens>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
    </compatible-screens>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_200x200no_title"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SpeakingActivity"
            android:theme="@style/mainTheme"></activity>
        <!--<activity android:name=".OtherResult"></activity>-->
        <activity android:name=".Tantrums"
            android:theme="@style/mainTheme"></activity>
        <activity android:name=".SexualDesire"
            android:theme="@style/mainTheme"/>
        <activity android:name=".SelfHarm"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Screaming"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Sabotage"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Pronouns"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Nutrition"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Isolation"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Genetic"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Fear"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Entertainment"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Adaptation"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Therapy"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Echolalia"
            android:theme="@style/mainTheme"/>
        <activity android:name=".Chatbot"
            android:theme = "@style/mainTheme"/>
        <activity android:name=".GuessingNumberGameOver" />
        <activity android:name=".GuessingNumberGame"
            android:theme = "@style/mainTheme"/>
        <activity
            android:name=".OtherResult"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>

        <activity
            android:name=".EmotionTest"
            android:theme="@style/mainTheme" />
        <activity
            android:name=".Main5Q"
            android:noHistory="true"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".ToddlerResult"
            android:screenOrientation="portrait"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".ToddlerTestIntro"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".feeling_game"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".Gilliam_score"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".Gilliam_main"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".Gilliam_info"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".opening"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:noHistory="true" />
        <activity
            android:name=".M_chat_score"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".M_chat_main"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".M_chat_info"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".questions_Home"
            android:theme="@style/mainTheme" />
        <activity android:name=".ConfirmNewPass" />
        <activity android:name=".confirm" />
        <activity
            android:name=".Games"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".child_tests"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".UserProfile"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity android:name=".Change_password" />
        <activity
            android:name=".UserSettings"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".MainHOME"
            android:theme="@style/mainTheme" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".signUP" />
        <activity android:name=".LOGIN" />
        <activity
            android:name=".Quiz_Activity"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity android:name=".PersonalDetails" />
        <activity
            android:name=".RecordingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UploadImageActivity"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.child_tests" />
        </activity>
        <activity
            android:name=".pressDotActivity"
            android:theme="@style/mainTheme" />
        <activity
            android:name=".Helpful_institiutions"
            android:noHistory="true"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".Doctors"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".Profile"
            android:theme="@style/mainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autisma.MainHOME" />
        </activity>
        <activity
            android:name=".Alarm_module.Alarms_main"
            android:label="@string/app_name" />
        <activity
            android:name=".Alarm_module.ReminderAddActivity"
            android:label="title_activity_add_reminder" />
        <activity
            android:name=".Alarm_module.ReminderEditActivity"
            android:label="title_activity_edit_reminder" />

        <receiver android:name=".Alarm_module.AlarmReceiver" />
        <receiver android:name=".Alarm_module.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".RecorderService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>